/* GENERAL*/
html, body
{
    font-family: sans-serif;
    font-size: italic;
    margin-left: 4rem;

}
@media screen and (max-width: 1220px)
h1
{
    color: blue;
 }

/* NAV */
.container-nav{
    height: 100%;
}
.container1{
    width: 100%;
}
a
{
    display: flex;
    align-items: center;
    border: 1px solid none;
    text-decoration: none;
}
.container-nav{
    display: flex;
    gap: 6rem;
    margin-top: 60px;
}
@media  (max-width: 800px) {
    .container-nav{
        border: 2px solid white;
    }
}
header
{
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    margin-right: 60px;

}
/*BODY */
.wrapper{
    padding: 0 2rem;
}
/* SEARCH-FORM*/
.search-form{
    display: flex;
    align-items: center;
}
.fa-map-marker{
    padding: 1rem 1.2rem;
    background-color: aqua;
    border-radius: 1rem 0 0 1rem ;
}
 input {
    padding-right: 5rem;
    border: 1px solid var(--blue);
    padding: 1rem 1.2rem;
}
 input::placeholder{
    font-size: 1.2rem;
    font-weight: bold;
}
 button {
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border-radius: 0 1rem 1rem 0;
    padding: 0.8rem 1.2rem;
    border: none;  
}
button:hover{
    color: blue;
    background-color: #f2f2f2;
}

/* filtres */
.margFiltre
{
 margin-top: 50px;
 margin-bottom: 40px;
 padding: right;
} 
.filtremargFiltre
{
    display: flex;
    padding: 20px;
    margin: 20px;
    margin: auto;
}
.filtre {
    display: flex;
    align-items: center;
}
.margFiltreTitre {
    
    margin-right: 20px;
}
.filtreTexteIcons {
    display: flex;
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    align-items: baseline;
}
.fitreTexteIcons:hover > .filtreTexte{
    color: #0065fc;
}
.filtreTexteIcons:hover > .filtreIcons{
    color: white;
    background-color: #0065fc;
}
.filtreTexte {
    height: 100px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
    justify-content: center;

}
.filtreIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
    }
/*RESULTATS-MESSAGE*/
.results-message {
    display: flex;
    align-items: center;
    gap: 0.4em;
    }
.results-message .fa {
color: blue;
height: 2rem;
border: 1px solid blue;
border-radius: 100%;
width: 2rem;
display: flex;
align-items: center;
justify-content: center;
}
/*--appartement--*/
.appartement
{
display: flex;
flex-direction: row;
margin-right: 40px;
justify-content: space-between;
width: 100%;
}
.appartement img{
    background-position: center;
}
@media screen and (max-width:600px){
    .popular{
        order: 1;
        flex-direction: column;
        width: 100%;
    }
    
}
.chambre1, .chambre2
{
    display: flex;;
    margin-bottom: 2em;
    gap: 2em;
}
.chambre1
{
    border: 5px solid none;
    border-radius: 20px;
}

.can{
    border: 1px solid white;
    border-radius: 1em;
    background-color: white;
    width: 40%;
}


.can3
{
    display: flex;
    margin: 40px;
    border: 1px solid black;
    border-radius: 1rem; 
}
.chambre1 img, .chambre2 img {
    width: 100%;
    border-radius: 1em 1em 0 0;
    
}

 .hebergement
 {
    border: 1px solid none;
    width: 65%;
    border-radius: 1em;
    background-color:lightgrey;
    padding: 0.5em;
 }
 .can:hover{
    transform: scale(1.1);
    transition: 0.3s;
 }
 .article2:hover{
    transform: scale(1.1);
    transition: 0.3s;
 }
 /* popular */
.populaire{
    width: 28%;
    border-radius: 1em;
    background-color: lightgrey;
    padding: 1em;
}
.populaire h3{
    display: flex;
    justify-content: space-between;
}
.populaire .article{
    display: flex;
    margin-bottom: 2.5em;
    border: 2px solid white;
    border-radius: 1em;
    transition: all 1s;
}
.populaire .article:hover{
transform: scale(1.2);
}
.populaire .article img{
    width: 35%;
    border-radius: 1em 0 0 1em;
}
.populaire .description{
    padding: 1em;
}
p {
    font-weight: bold;
}

.fa-star
{
    color: #0065fc;
}
/* activité à marseille */
.activity
{
    display: flex;
    width: 100%;
    margin-left: 4rem;
}

.bloc{
    border: 1px solid white;
}
.bloc, .bloc1
{
    width: 23%;  
}
.bloc02:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.bloc:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.bloc02
{
    margin-bottom: 100px;
    height: 50%;
    margin-bottom: 2rem;
    gap: 2rem;
} 
.bloc02 img
{
    width: 90%;
    height: 11.5rem;
}
.bloc02 {
    border: 1px solid white;
width: 100%;
border-left: 10px;
}
.bloc2, img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 90%;
    }

    
/* footer*/
.footer{
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: -1px;
    text-align: left;
    background-color: lightgrey
}
.tailleBlocFoot{
    justify-content: center;
    align-content: center;
    height: 150px;
}
.margeBlocfoot1{
    margin-left: 15%;
}
.margeBlocfoot3
{
    margin-left: 15%;
}
/* responsivité */
@media screen and (max-widht: 770px){
    .container-nav{
        width: 90%;
    }
}
@media screen and (max-widht: 770px){
    .Filtre margfiltre{
        flex-direction: column;
        align-items: center;
    }   
}
@media screen and (max-widht: 800px){
    .appartement{
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
    }
    
}
@media screen and (max-widht: 1353px){
    .populaire{
    flex-wrap: wrap;
    align-items: center;
     }
}
@media screen and (max-widht:960px){
    .populaire{
        flex-direction: column;
    }
    
}

.bloc{
    flex-direction: column;
    align-items: center;
}
.bloc02{
    flex-direction: column;
    align-items: center;
}




